<script type="text/javascript" src="templates/asteroid-avoid.js"></script>
<div id="game">
	<div id="gameUI">
		<div id="gameIntro">
			<h1 class="title">Asteroid Avoid!</h1>
			<p>Click play and then press any key to start.</p>
			<p><a id="gamePlay" class="button" href >Play</a></p>
		</div>
		<div id="gameStats">
			<p>Time: <span class="gameScore"></span> seconds.</p>
			<p><a class="gameReset" href="">Reset</a></p>
		</div>
		<div id="gameComplete">
			<h1 class="title">Game Over!</h1>
			<p>You survived for <span class="gameScore"></span> seconds.</p>
			<p><a class="gameReset button" href="">Play Again</a></p>
		</div>
	</div>
</div>