<h1>Chicken Coop Troop</h1>

<p>Chicken Coop Troop is a game I've been planning on making for a while. 
	When my prototyping class came up, and I saw the assignment, I dicided to
	make this as a prototype instead. you can 
<a href="#" onClick="window.open(
				'ChickenCoopTroop/chicken-coop-troop.html',
				'ChickenCoopTroop',
				'height=790,width=1045,menubar=no,scrollbars=no');
		return false;">
	try it out </a>
	for yourself, and see what came of a 5 somthing year old scribble in a notebook
	when the right motivation drove me to pressue it.  This project was completed
	in about 2 weeks with me and
	<a href="http://triosdevelopers.com/~S.Holmes/">Stewart Holmes</a> 
	and I'm quite happy where it ended.</p>
<p>
	From the start, right to the end the project went well, the best of all the
	first quarter including the little side things.  We made a plan, and a time 
	table, and stuck to it.  I think the amount of polish really shows in the details.
</p>

<div id='accordian' ng-click="CCTcon.HCclick()"><h2>High Concept</h2></div>
<object id='HCPDF' class='content-for-accordian' height='800' width='790' data='templates/chicken-coop-troop.pdf'></object>

<div id='accordian' ng-click="CCTcon.picturesClick()"><h2>Screen Shots</h2></div>
<div id='pictures' class="content-for-accordian">
	<div id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li class="item1 active"></li>
			<li class="item2"></li>
			<li class="item3"></li>
			<li class="item4"></li>		
			<li class="item5"></li>

		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

			<div class="item active">
				<img src="pictures/main-menu.png" alt="Main Menu" width="460" height="345">
				<div class="carousel-caption">
					<h3>Main Menu</h3>
					<p>Let the fight for the farm begin, maybe tweak some settings first.</p>
				</div>
			</div>

			<div class="item">
				<img src="pictures/options.png" alt="Options" width="460" height="345">
				<div class="carousel-caption">
					<h3>Options Menu</h3>
					<p>Not a huge selection, but at least I can silence this trumpet.</p>
				</div>
			</div>

			<div class="item">
				<img src="pictures/new-game.png" alt="New Game" width="460" height="345">
				<div class="carousel-caption">
					<h3>New Game</h3>
					<p>Thats some interesting terrain, oh god, here comes the first worm.</p>
				</div>
			</div>

			<div class="item">
				<img src="pictures/mid-game.png" alt="Mid-Game" width="460" height="345">
				<div class="carousel-caption">
					<h3>Mid-Game</h3>
					<p>Man this is getting intense, how many worms are there.</p>
				</div>
			</div>
			
			<div class="item">
				<img src="pictures/near-end.png" alt="Near end" width="460" height="345">
				<div class="carousel-caption">
					<h3>Near end</h3>
					<p>Man, almost there, I hope this doesn't end in a cliff hanger.</p>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

