<div id='greeting'>
	<h1>Hey, take a look around.</h1>
	<h2>I got alot of cool stuff.</h2>
	<h3>Well I think it's cool.</h3>
	<h4>It's pretty neat at least.</h4>
</div>
<div style="display: flex">
	<div>
		<img style="float:left" alt='Jordan Moore' id="photo" src="pictures/jordan.jpg" height="250"/>
	</div>
	<p style="float:left; margin:15px;">
		My name is Jordan Moore, and I'm a developer in the game Developer field.  Check
		back for updates, I plan on setting a blog up shortly, which will go here too.
	</p>
</div>
