<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li ng-class="{ active:tab.isSet(1) }"><a href ng-click="tab.setTab(1)">Home</a></li>
		<li ng-class="{ active:tab.isSet(2) }"><a href ng-click="tab.setTab(2)">Extra Fun Stuff</a></li>
		<li  	ng-class="{ active:!sideTab.isSetSide(0) }" 
				class="dropdown">
		
		  <a 	href 
				class="dropdown-toggle" 
				data-toggle="dropdown" 
				role="button" 
				aria-haspopup="true" 
				aria-expanded="false">Side Projects<span class="caret"></span></a>
				
		  <ul class="dropdown-menu">
			<li ng-class="{ active:sideTab.isSetSide(1) }"><a href ng-click="sideTab.setSideTab(1)">Dodge Dat Rock</a></li>
			<li ng-class="{ active:sideTab.isSetSide(2) }"><a href ng-click="sideTab.setSideTab(2)">Coming Soon!</a></li>
		  </ul>
		</li>
		<li  ng-class="{ active:tab.isSet(4) }" 
		class="dropdown">
		
		  <a 	href
				class="dropdown-toggle" 
				data-toggle="dropdown" 
				role="button" 
				aria-haspopup="true" 
				aria-expanded="false">Assigned Projects<span class="caret"></span></a>
				
		  <ul class="dropdown-menu">
			<li><a href">Nothing Yet</a></li>
		  </ul>
		</li>
	  </ul>
	</div>
  </div>
</nav>