<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li ng-class="{ active:tab.isSet(1) }"><a href ng-click="assignTab.setAssignTab(0);sideTab.setSideTab(0);tab.setTab(1)">Home</a></li>
		<li ng-class="{ active:tab.isSet(2) }"><a href ng-click="assignTab.setAssignTab(0);sideTab.setSideTab(0);tab.setTab(2)">Extra Fun Stuff</a></li>
		<li  	ng-class="{ active:!sideTab.isSetSide(0) }" 
				class="dropdown">
		
		  <a 	href 
				class="dropdown-toggle" 
				data-toggle="dropdown" 
				role="button" 
				aria-haspopup="true" 
				aria-expanded="false">Side Projects<span class="caret"></span></a>
				
		  <ul class="dropdown-menu">
			<li ng-class="{ active:sideTab.isSetSide(1) }"><a href ng-click="assignTab.setAssignTab(0);sideTab.setSideTab(1);tab.setTab(0)">Bounce Dat Rock</a></li>
			<li ng-class="{ active:sideTab.isSetSide(2) }"><a href ng-click="assignTab.setAssignTab(0);sideTab.setSideTab(2);tab.setTab(0)">Coming Soon!</a></li>
		  </ul>
		</li>
		<li  ng-class="{ active:!assignTab.isSetAssign(0) }" 
		class="dropdown">
		
		  <a 	href
				class="dropdown-toggle" 
				data-toggle="dropdown" 
				role="button" 
				aria-haspopup="true" 
				aria-expanded="false">Assigned Projects<span class="caret"></span></a>
				
		  <ul class="dropdown-menu">
			<li ng-class="{ active:assignTab.isSetAssign(1) }"><a href ng-click="sideTab.setSideTab(0);assignTab.setAssignTab(1);tab.setTab(0)">Asteroid Avoid</a></li>
			<li ng-class="{ active:assignTab.isSetAssign(2) }"><a href ng-click="sideTab.setSideTab(0);assignTab.setAssignTab(2);tab.setTab(0)">Number Guessing</a></li>
			<li ng-class="{ active:assignTab.isSetAssign(3) }"><a href ng-click="sideTab.setSideTab(0);assignTab.setAssignTab(3);tab.setTab(0)">Alien Attack</a></li>
			<li ng-class="{ active:assignTab.isSetAssign(4) }"><a href ng-click="sideTab.setSideTab(0);assignTab.setAssignTab(4);tab.setTab(0)">Alien Armada</a></li>
			<li ng-class="{ active:assignTab.isSetAssign(5) }"><a href ng-click="sideTab.setSideTab(0);assignTab.setAssignTab(5);tab.setTab(0)">Hedgehog Apocalypse</a></li>
			<li ng-class="{ active:assignTab.isSetAssign(6) }"><a href ng-click="sideTab.setSideTab(0);assignTab.setAssignTab(6);tab.setTab(0)">Coming Soon!</a></li>
		  </ul>
		</li>
	  </ul>
	</div>
  </div>
</nav>