<h3>Education</h3> 
<ul id='education'>
    <li>
		Trios College, Hamilton, Ontario (July 2016-Present Graduating 2018)
		<ul>
			<li>Game Design and Development Diploma</li>
			<li>Selection of practical projects</li>
			<li>4 month internship</li>
			<li>Focus on Game Development processes and systems</li>
		</ul>
	</li>
    <li>
		Mohawk College, Hamilton, Ontario 
		<ul>
			<li>Computer Systems Technology – Software Development and Support Diploma (2015)</li>
			<li>8 month coop at Mohawk Applied Research Center</li>
			<li>Wide topics covering all aspects of Software Development</li>
		</ul>
	</li>
	<li>
		Sherwood Secondary School, Hamilton, Ontario 
		<ul>
			<li>Graduated with High School Diploma (2009)</li>
			<li>Technical Apptitude award</li>
		</ul>
	</li>
</ul>





<h3>Experience</h3> 
<ul>
	<li>
		IdeaWorks Developer  
		<ul>
			<li>Web development with Json and AJAX</li>
			<li>Application development with FLEX Framework of ActionScript for EMR</li>
		</ul>
	</li>
</ul>