contentBox *{
	margin: 		0;
	padding: 		0;
}
#contentBox{
	width: 800px;
	margin:auto;
}
#canvasHome,body,html{

	height:			100%;
	width:			100%;
	font-family:	Verdana,Arial,sans-serif;
}

canvas{
	display:		block;
}

#asteroidAvoid{
	background: 	#001022;
}

.navbar{
	margin-bottom:	0px;
}

#game,.MakeItBig{
	height:			100%;
	width:			100%;
}

.title{
	margin-top:		0;
	padding-top:	20px;
	font-size: 		30px;
}

p{
	margin:			0 20px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:			white;
}

a.button{
	background:		#185DA8;
	border-radius:	5px;
	font-size:		30px;
	display: 		block;
	width:			200px;
	text-align:		center;
	margin:			40px 0 0 270px;
}

a.button:hover{
	background:		#2488f5;
}

@font-face{
	src: url(emulogic.ttf);
	font-family: emulogic;
}