contentBox *{
	margin: 		0;
	padding: 		0;
}
#contentBox{
	width: 800px;
	margin:auto;
}
#canvasHome,body,html{

	height:			100%;
	width:			100%;
	font-family:	Verdana,Arial,sans-serif;
}

canvas{
	display:		block;
}

#asteroidAvoid{
	background: 	#001022;
}

.navbar{
	margin-bottom:	0px;
}

#game,.MakeItBig{
	height:			100%;
	width:			100%;
}

.title{
	margin-top:		0;
	padding-top:	20px;
	font-size: 		30px;
}

p{
	margin:			0 20px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:			white;
}

a.button{
	background:		#185DA8;
	border-radius:	5px;
	font-size:		30px;
	display: 		block;
	width:			200px;
	text-align:		center;
	margin:			40px 0 0 270px;
}

a.button:hover{
	background:		#2488f5;
}

@font-face{
	src: url(emulogic.ttf);
	font-family: emulogic;
}



#background{
	background-image: url(AlienAttack/background.png);
	width: 300px;
	height: 300px;
}

#cannon{
	background-image: url(AlienAttack/cannon.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 270px;
	left: 140px;
}

#missile{
	background-image: url(AlienAttack/missile.png);
	width: 10px;
	height: 10px;
	position: absolute;
	top: 240px;
	left: 145px;
}

#alien{
	background-image: url(AlienAttack/alien.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 80px;
}

#explosion{
	background-image: url(AlienAttack/explosion.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#alien-armada #stage{
	width: 525px;
	margin: auto;
	padding: 20px;
	border: 2px black solid;
	border-radius: 20px;
}

#alien-armada canvas{
	border: 1px black solid;
}