body{
	font-family:	Verdana,Arial,sans-serif;
}

#game{
	background:		black;
	color:			white;
	font-size:		18px;
	height: 		600px;
	width:			800px;
	left:			50%;
	top:			50%;
	position: 		relative;
	margin:			-309px 0 0 -400px;
}

#gameUI{
	height:			600px;
	width:			800px;
	position:		absolute;
}

#gameIntro, #gameComplete{
	background: 	rgba(0,0,0,0.5);
	margin-top:		100px;
	padding: 		40px 0;
	text-align:		center;
}

#gameStats .gameReset{
	margin:			20px 20px 0 0;
	position:		absolute;
	right:			0;
	top:			0;
}

canvas{
	display:		block;
}
.title{
	margin-top:		0;
	padding-top:	20px;
	font-size: 		30px;
}
a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:			white;
}

a.button{
	background:		#185DA8;
	border-radius:	5px;
	font-size:		30px;
	display: 		block;
	width:			200px;
	text-align:		center;
	margin:			40px 0 0 270px;
}

a.button:hover{
	background:		#2488f5;
}